@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@-webkit-keyframes elipse-animation {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes elipse-animation {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes elipse-animation-2 {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes elipse-animation-2 {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes js-logo-animation {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes js-logo-animation {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #F9FDFF;
  overflow-x: hidden !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
}

.header-heading {
  display: inline-block;
  text-align: center;
  font-size: 6.5rem;
  color: #fff;
  font-weight: 800;
}

.header-heading span {
  display: block;
  color: #FF7244;
}

.margin-top-s {
  margin-top: 2rem;
}

.primary-btn, .primary-btn:visited, .primary-btn:link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  background-color: #FF7244;
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  -webkit-transition: .5s all;
  transition: .5s all;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

.primary-btn-nav {
  font-size: 2rem !important;
  padding: 1rem 2rem !important;
  margin-bottom: 1rem;
}

.primary-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: inline-block;
  border-radius: 1rem;
  background-color: #FF7244;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.primary-btn:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.primary-btn:hover::before {
  -webkit-transform: scaleX(1.2) scaleY(1.4);
          transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.primary-btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.course__card {
  min-height: 50rem;
  padding: 1rem 1rem 3.5rem 1rem;
  background-color: #fff;
  border-radius: 5rem;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(58, 41, 41, 0.05);
          box-shadow: 0 0.5rem 2rem rgba(58, 41, 41, 0.05);
  color: #585856;
  font-size: 1.7rem;
  font-weight: 800;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  cursor: pointer;
}

.course__card__thumbnail-container {
  width: 100%;
  height: 25rem;
  border-radius: 5rem;
}

.course__card__thumbnail {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5rem;
}

.course__card__category-price {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course__card__category {
  background-color: #F5F1F6;
  border-radius: 10rem;
  padding: 1rem 1.2rem;
}

.course__card__price {
  font-size: 1.9rem;
  margin-right: 2rem;
  font-weight: 800;
}

.course__card__title {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 800;
}

.course__card__instructor-name {
  margin: 3rem 0 1rem 0;
  font-weight: 800;
  color: black;
  padding: 0 1rem;
}

.course__card__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.course__card__stat__rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course__card__stat__stars {
  margin: .5rem 1rem 0 1rem;
}

.course__card__stat__star-icon {
  width: 2rem;
}

.course__card__stat__student {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course__card__stat__student-icon {
  margin-right: 1rem;
}

.course__card:hover {
  -webkit-transform: perspective(1px) scale(1.02);
          transform: perspective(1px) scale(1.02);
  -webkit-box-shadow: 0 0.5rem 3rem rgba(58, 41, 41, 0.1);
          box-shadow: 0 0.5rem 3rem rgba(58, 41, 41, 0.1);
}

.testimonial__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 1rem 4rem 4rem;
  width: 69rem;
  border-radius: 5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.testimonial__card__img {
  height: 11rem;
  width: 11rem;
  background-size: 180%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.5rem;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.testimonial__card__img-shape {
  width: 11rem;
  height: 11rem;
  background-color: rgba(255, 115, 68, 0.4);
  border-radius: 2.5rem;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  margin-right: 5rem;
}

.testimonial__card__txt {
  color: #585856;
}

.testimonial__card__txt__title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: black;
}

.testimonial__card__txt__parag {
  color: #585856;
  margin-bottom: 2rem;
}

.testimonial__card__txt__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 3rem;
}

.testimonial__card__txt__stat__user-name {
  color: black;
  font-weight: 800;
}

.testimonial__card__txt__stat__stars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__card__txt__stat__rating {
  margin-right: 1rem;
}

.testimonial__card__txt__stat__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial__card__txt__stat__star-icon {
  width: 1.8rem;
  margin-left: .5rem;
}

.testimonial__card:hover {
  -webkit-transform: perspective(1px) scale(1.02);
          transform: perspective(1px) scale(1.02);
  -webkit-box-shadow: 0 0.5rem 3rem rgba(58, 41, 41, 0.2);
          box-shadow: 0 0.5rem 3rem rgba(58, 41, 41, 0.2);
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__shape {
  position: relative;
}

.benefits__shape__img {
  width: 100%;
}

.benefits__shape__txt {
  position: absolute;
  top: 34%;
  left: 10%;
  max-width: 55rem;
}

.benefits__shape__txt__title {
  color: #585856;
  font-size: 4rem;
  font-weight: 800;
}

.benefits__shape__txt__title span {
  color: #FF7244;
}

.benefits__shape__txt__parag {
  color: #585856;
  font-size: 2rem;
  margin-top: 2rem;
}

.benefits__shape__txt__btn {
  margin: 4rem auto;
}

.benefits__ill {
  margin-left: -30rem;
}

.benefits__ill__lottie-player {
  width: 70rem;
}

.courses {
  position: relative;
  width: 100%;
  overflow: hidden !important;
}

.courses__shape1 {
  width: 100%;
  height: 12rem;
  background-color: #6568F3;
  border-bottom-right-radius: 50rem;
  border-bottom-left-radius: 50rem;
}

.courses__shape2 {
  position: relative;
}

.courses__shape2__img {
  width: 100%;
}

.courses__shape2__heading {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 3.5rem;
}

.courses__container {
  padding: 7rem 3rem;
  width: 100%;
  background-color: #F5F1F6;
  border: 5px solid #6568F3;
}

.courses__card__container {
  display: -ms-grid;
  display: grid;
  grid-column: center-start / center-end;
  -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 5rem;
}

.courses-btn {
  text-align: center;
  margin-top: 6rem;
}

.featured-box {
  width: 95%;
  margin: -5rem auto 0 auto;
  height: 15rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background-color: white;
  -webkit-box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.featured__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__item__icon {
  width: 8rem;
  margin-right: 2rem;
}

.featured__item__txt {
  font-size: 1.9rem;
  color: #585856;
}

.animated-elipse-3 {
  z-index: -2;
  position: absolute;
  top: 0;
  left: -23%;
  -webkit-animation: elipse-animation-2 80s ease infinite;
          animation: elipse-animation-2 80s ease infinite;
}

.animated-elipse-4 {
  z-index: -2;
  position: absolute;
  top: -13%;
  right: -13%;
  -webkit-animation: elipse-animation-2 80s ease infinite;
          animation: elipse-animation-2 80s ease infinite;
}

.header {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #6568F3;
}

.header__content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__content--box {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  min-width: 80rem;
  display: inline-block;
  text-align: center;
}

.header__illustration {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__illustration__lottie-player {
  margin-right: -10rem;
  width: 80rem;
}

.scroll-down {
  display: inline-block;
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  cursor: pointer;
}

.scroll-down__player {
  width: 8rem;
}

.animated-elipse-1 {
  position: absolute;
  top: -28%;
  right: 15%;
  width: 48rem;
  -webkit-animation: elipse-animation 60s ease infinite;
          animation: elipse-animation 60s ease infinite;
}

.animated-elipse-2 {
  position: absolute;
  top: 38%;
  right: -10%;
  width: 40rem;
  -webkit-animation: elipse-animation 55s ease infinite;
          animation: elipse-animation 55s ease infinite;
}

.js-logo {
  position: absolute;
  width: 11rem;
  top: 17%;
  right: 45%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-animation: js-logo-animation 10s infinite ease;
          animation: js-logo-animation 10s infinite ease;
}

.py-logo {
  position: absolute;
  width: 11rem;
  top: 17%;
  right: 70%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-animation: js-logo-animation 10s infinite ease-in;
          animation: js-logo-animation 10s infinite ease-in;
}

.java-logo {
  position: absolute;
  width: 11rem;
  bottom: 18%;
  left: 15%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-animation: js-logo-animation 10s infinite ease-in-out;
          animation: js-logo-animation 10s infinite ease-in-out;
}

.design-logo {
  position: absolute;
  width: 11rem;
  top: 55%;
  right: 45%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-animation: js-logo-animation 10s infinite ease-out;
          animation: js-logo-animation 10s infinite ease-out;
}

.social-media {
  z-index: 2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 47rem;
}

.social-media__logo {
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.social-media__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-media::before {
  content: "";
  display: block;
  width: .3rem;
  height: 12rem;
  background-color: #EAE1FC;
  border-radius: 5rem;
  margin-bottom: 3rem;
}

.social-media::after {
  content: "";
  display: block;
  width: .3rem;
  height: 12rem;
  background-color: #EAE1FC;
  border-radius: 5rem;
  margin-top: 3rem;
}

.navigation {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 9rem;
  padding: 0 9rem;
}

.navigation__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.navigation__logo {
  width: 7rem;
  margin-right: auto;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navigation__item {
  margin-right: 5rem;
}

.navigation__link, .navigation__link:visited, .navigation__link:link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.navigation__link::after {
  content: "";
  display: inline-block;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 100%;
  height: .3rem;
  border-radius: 5rem;
  background-color: #FF7244;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navigation__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navigation__link-active::after {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
}

.testimonial {
  padding: 7rem 4rem;
  position: relative;
}

.testimonial__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial__heading {
  font-size: 4rem;
  color: #3D3D3D;
  font-weight: 800;
  text-align: center;
  margin-bottom: 7rem;
}

.testimonial__heading span {
  color: #FF7244;
}

.testimonial__btn {
  text-align: center;
  margin-top: 4rem;
}

.testimonial__btn__next {
  position: relative;
  padding: 2.5rem;
  border: 0.5rem solid #6568F3;
  border-radius: 100rem;
  background-color: #F9FDFF;
  width: 4rem;
  height: 4rem;
  color: #6568F3;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.testimonial__btn__next-icon {
  position: absolute;
  top: 50%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.2rem;
  fill: currentColor;
}

.testimonial__btn__next:hover {
  border: 0.5rem solid #FF7244;
  color: #FF7244;
}

.testimonial__btn__prev {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  margin-right: 2rem;
}

.animated-elipse-4 {
  z-index: -2;
  position: absolute;
  top: -2%;
  left: -10%;
  width: 30rem;
  -webkit-animation: elipse-animation-2 60s ease infinite;
          animation: elipse-animation-2 60s ease infinite;
}

.animated-elipse-5 {
  z-index: -2;
  position: absolute;
  top: -30%;
  right: -15%;
  width: 50rem;
  -webkit-animation: elipse-animation-2 60s ease infinite;
          animation: elipse-animation-2 60s ease infinite;
}
/*# sourceMappingURL=style.css.map */