$primary-color: #00005c;
$text-color: mix(#000, $primary-color, 64%);

.form{
    padding: 5rem 2rem;
    // box-shadow: 0 0rem 0.2rem rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(222, 226, 230, 0.5);

    border-radius: 1rem;
    width: 50rem;
    min-height: 50rem;
    text-align: center;
    color: black;

    &__container{
        padding: 4rem 2rem 2rem 2rem;
        display: flex;
        justify-content: space-around;
    }

    &__ill__lottie-player{
        width: 50rem;
    }

    &__heading{
        font-weight: 800;
        margin-bottom: 5rem;
    }


    &__input{
        width: 100%;
        font-family: inherit;
        font-size: 1.4rem !important;
        color: $dark-font-color !important;
        font-weight: 500 !important;
        border: 1px solid rgba(222, 226, 230, 0.8);
        outline: none;
        background-color: $body-bg-color;
        height: 4rem;
        padding: 1rem 2rem 1rem 4.5rem;
        border-radius: .8rem;
        transition: border 0.5s;
        margin-bottom: .3rem;

        //custom design fpr the radio input
        &-radioBTN{
            position: absolute;
            left: -9999px;
            &:checked + span {
			    background-color: mix(#fff, $primary-color, 84%);
                &:before {
                    box-shadow: inset 0 0 0 0.4em $primary-color;
                }
		    }
        }

        &[type="password"]{
            font-weight: 800 !important;

            &::placeholder{
                font-weight: 400;
            }
        }

        &__group{
            position: relative;
            text-align: left;
            margin-bottom: 2.7rem;

            &-radio{
                display: flex;
            }

            &-password{
                display: flex;
                
            }
        }

        &__label{
            font-size: 1.4rem;
            color: black;
            display: block;
            margin-bottom: 1rem;
            span{
                color: #E43F52;
            }

            &-radioBTN{
                display: flex;
                cursor: pointer;
                font-weight: 500;
                position: relative;
                overflow: hidden;
                margin-right: 0.375em;


                span {
                    display: flex;
                    align-items: center;
                    padding: 0.375em 0.75em 0.375em 0.375em;
                    border-radius: 99em; // or something higher...
                    transition: 0.25s ease;
                    &:hover {
                        background-color: mix(#fff, $primary-color, 84%);
                    }
                    &:before {
                        display: flex;
                        flex-shrink: 0;
                        content: "";
                        background-color: #fff;
                        width: 1.2em;
                        height: 1.2em;
                        border-radius: 50%;
                        margin-right: 0.375em;
                        transition: 0.25s ease;
                        box-shadow: inset 0 0 0 0.125em $primary-color;
                    }
                }
            }
        }

        &__icon{
            position: absolute;
            top: 3.9rem;
            left: 1.7rem;
            width: 1.6rem;
            stroke: rgba(0, 0, 0, 0.6);
            transition: all 0.5s;
        }

        &:focus{
        border: 1px solid rgba(47, 86, 212, 0.8);
        // border: 1px solid $secondary;
        }

        &:focus + &__icon{
            stroke: black !important;
        }

//--------------------------------------------
        &__divider{
            display: flex;
            align-items: center;
        }

        &__left-side{
            flex: 1;
            margin-right: 1rem;
        }

        &__right-side{
            flex: 1;
            margin-left: 1rem;
        }
    }

    &__member{
        margin-top: 1.5rem;
        font-size: 1.4rem;
        color: $dark-font-color;
        &__link{
            display: inline-block;
            text-decoration: none;
            margin-left: .8rem;
            font-size: 1.5rem;
            color: black;
            transition: all .2s;

            &:hover{
                color: $secondary;
            }
        }
    }
}

.primary-btn-form{
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: $light-font-color;
    font-weight: 600;
    width: 95%;
    font-size: 1.5rem !important;
    background-color: rgba(255, 115, 68, 0.85) !important;
    transition: 0.5s all !important;
    box-shadow: none !important;
    cursor: pointer;

    &:hover{
        transform: translateY(0);
        background-color: rgba(255, 115, 68, 0.95) !important;
        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1) !important;
    }

    &::before{
        display: none;
    }
}

//to hide the arrow from the input of type number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.error{
    color: rgb(255, 56, 56);
    transition: all .2s;
    font-size: 1.25rem;
    font-weight: 700;
}

.form_alert{
    padding: 2rem 2rem;

    border-radius: 3rem;
    margin-bottom: 2rem;

    &_success{
        color: green;
        background-color: rgba(35, 163, 35, 0.45);
    }

    &_error{
        color: rgb(255, 64, 64);
        background-color: rgba(255, 124, 124, 0.4);
    }
}

.form__uploadCV{
    padding: 2rem;
    width: 75rem;
    height: 25rem;
    background-color: rgba(101, 103, 243, 1);
    border-radius: 2rem;
}
.file-upload-wrapper {
    $defaultColor: $secondary;
    $height: 60px;
    margin-bottom: 2rem;
    
    position: relative;
    width: 100%;
    height: $height;
    
    &:after {
      content: attr(data-text);
      font-size: 1.5rem;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      padding: 1rem 1.5rem;
      display: block;
      width: calc(100% - 40px);
      pointer-events: none;
      z-index: 20;
      height: $height;
      line-height: $height - 20px;
      color: #999;
      border-radius: 1.5rem 10px 10px 1.5rem;
      font-weight: 400;
    }
    
    &:before {
      content: 'Upload';
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      height: 60px;
      background: $defaultColor;
      color: #fff;
      font-weight: 700;
      z-index: 25;
      font-size: 1.5rem;
      line-height: $height;
      padding: 0 15px;
      text-transform: uppercase;
      pointer-events: none;
      border-radius: 0 1.5rem 1.5rem 0;
    }
    
    &:hover {
      &:before {
        background: darken($defaultColor, 10%);
      }
    }
     input {
      opacity: 0;
    //   position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99;
      height: $height ;
      margin: 0;
      padding: 0;
      display: block;
      cursor: pointer;
      width: 100%;
    }
  }
