.header{
    margin-top: -9rem;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: $primary-light;

    &__content{
        position: relative;
        flex: 1;

        &--box{
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-30%,-50%);
            min-width: 80rem;
            display: inline-block;
            text-align: center;
        }
    }

    &__illustration{
        flex: 1;

        &__lottie-player{
            margin-right: -10rem;
            width: 80rem;
        }
    }
}

.scroll-down{
    display: inline-block;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,0%);
    cursor: pointer;

    &__player{
        width: 8rem;
    }
}

.animated-elipse-1{
    position: absolute;
    top: -28%;
    right: 15%;
    width: 48rem;
    animation: elipse-animation 60s ease infinite;
}

.animated-elipse-2{
    position: absolute;
    top: 38%;
    right: -10%;
    width: 40rem;
    animation: elipse-animation 55s ease infinite;
}


.js-logo{
    position: absolute;
    width: 11rem;
    top: 17%;
    right: 45%;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    animation: js-logo-animation 10s infinite ease;
}

.py-logo{
    position: absolute;
    width: 11rem;
    top: 17%;
    right: 70%;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    animation: js-logo-animation 10s infinite ease-in;

}

.java-logo{
    position: absolute;
    width: 11rem;
    bottom: 18%;
    left: 15%;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    animation: js-logo-animation 10s infinite ease-in-out;

}

.design-logo{
    position: absolute;
    width: 11rem;
    top: 55%;
    right: 45%;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    animation: js-logo-animation 10s infinite ease-out;

}

.social-media{
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 47rem;

    &__logo{
        cursor: pointer;
        transition: 0.5s all;
        border-radius: 50%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

        &:hover{
            transform: scale(1.1);
        }
    }

    &::before{
        content: "";
        display: block;
        width: .3rem;
        height: 12rem;
        background-color: #EAE1FC;
        border-radius: 5rem;
        margin-bottom: 3rem;
    }

    &::after{
        content: "";
        display: block;
        width: .3rem;
        height: 12rem;
        background-color: #EAE1FC;
        border-radius: 5rem;
        margin-top: 3rem;
    }
}