.navigation{
    z-index: 1000;
    display: flex;
    align-items: center;
    
    position: sticky;
    top: 0;
    width: 100%;
    height: 9rem;
    padding: 0 9rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;

    &-scrolled-up {
        background-color: rgba(101, 103, 243, 0.9);

        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
      }
      
      &-scrolled-down {
        background-color: rgba(101, 103, 243, 0.9);

        transform: translateY(-5rem);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
      }
      
      &-scrolled-header {
        padding-top: 1.5rem;
        background-color: transparent;
        transition: all 0.3s;
      }


    &__nav{
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__logo{
        width: 14rem !important;
        margin-right: auto;
    }

    &__list{
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__item{
        margin-right: 5rem;
    }

    &__link{
        &,&:visited,&:link{
            display: inline-block;
            text-decoration: none;
            font-size: 2rem;
            color: $light-font-color;
            transition: 0.5s all;
        }

        &::after{
            content: "";
            display: inline-block;
            transform-origin: center;
            width: 100%;
            height: .3rem;
            border-radius: 5rem;
            background-color: $secondary;
            transition: 0.5s all;
            transform: scaleX(0);

        }

        &:hover{
            &::after{
                transform: scaleX(1);
            }
        }

        &-active{
            &::after{
                transform: scaleX(1) !important;
            }
        }
    }
}

.user-side__top-bar{
    position: relative;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 3rem !important;
    width: 100% !important;
    position: sticky;
    top: 0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.06) !important;

    &__logo{
        position: absolute;
        top: 50%;
        left: 6rem;
        transform: translateY(-50%);
        width: 5rem;
    }

    &__link{
        color: $primary-light !important;
        font-size: 1.65rem !important;
        transition: all 0.2s !important;

        &:hover{
        color: $secondary !important;

        }

        &::after{
            display: none;
        }
    }
}