//colors---------------------

$primary-light: #6568F3;
$primary-extra-light: #D6DBFD;
$secondary: #FF7244;
$tertiary: #F5F1F6;
$body-bg-color : #F9FDFF;
$dash-bg-color: #F9FDFF;
$light-font-color: #fff;
$dark-font-color: #585856;
$dark-font-color-2: #3D3D3D;



//colors---------------------

